/main.c
/main2.c
/read.c
/test.c
/test_file.c
/tst
/bench.c
/bench2.c
/test2.c

# other
compile_commands.json

# examples binaries
/examples/arbitrary_id_user_data
/examples/bare_minimal_phone_book
/examples/userdata.inch
/examples/phonebook.inch

